<div id="disqus_thread"></div>

<!--Localhost: Normal url-->
<script src="http://localhost:3000/disqus/getcomments?title=test title&identifier=test identifier&courseId=3420&categoryId=test category" typ="text/javascript"></script>

<!--Localhost: Missing title so an error is generated-->
<!--<script src="http://localhost:3000/disqus/getcomments?identifier=test identifier&courseId=0000&categoryId=test category" type="text/javascript"></script>-->

<!--Staging: Normal url-->
<!--<script src="http://cryptic-bastion-5586.herokuapp.com/disqus/getcomments?title=test title&identifier=test identifier&courseId=3420&categoryId=test category" type="text/javascript"></script>-->

<!--Staging: Missing title-->
<!--<script src="http://cryptic-bastion-5586.herokuapp.com/disqus/getcomments?identifier=test identifier&courseId=0000&categoryId=test category" type="text/javascript"></script>-->








