<div id="card_questions"></div>

<!--Localhost: localhost url-->
<script src="http://localhost:3000/card_questions/init?cardid=3&userid=1492&courseid=3420&casename=case1&caseid=007&cardname=card2&groupid=8910" type="text/javascript"></script>

<!-- local url, use for ie testing -->
<!--<script src="http://192.168.10.80:3000/card_questions/init?cardid=3&userid=1492&courseid=1620" type="text/javascript"></script>-->
