<div id="card_questions"></div>

<!--Localhost: localhost url-->
<script src="http://localhost:3000/card_questions/init?cardid=42&userid=1492&courseid=3420&casename=case1 with &quot;quotes&quot; on name&caseid=007&cardname=card2&groupid=8910" type="text/javascript"></script>

<!-- local url, use for ie testing -->
<!--<script src="http://192.168.10.236:3000/card_questions/init?cardid=42&userid=1492&courseid=3420&casename=case1&caseid=007&cardname=card2&groupid=8910" type="text/javascript"></script>-->

<!--Test against staging-->
<!--<script src="http://cryptic-bastion-5586.herokuapp.com/card_questions/init?cardid=75965&userid=1492&courseid=3420&casename=case1 with &quot;quotes&quot; on name&caseid=007&cardname=card2&groupid=8910" type="text/javascript"></script>-->
