.odd {
  background: #EEEEEE;
}

#questionListTable
  {
  font-family: Calibri, Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-left:5px;
  margin-bottom: 5px;
  width: 90%;
  border-collapse: collapse;
  text-align: left;
}
#questionListTable th
  {
  font-family: Calibri, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #404040;
  padding: 2px 8px;
  border-bottom: 2px solid #aaaaaa;
}

#questionListTable td
  {
  font-size: 13px;
  font-color: #404040;
  color: #404040;
  padding: 4px 8px;
}

#questionListTable a {
  //color: #404040;
  font-weight: bold;
  color: #3300CC;
}

#questionListTable a:hover {
  cursor:pointer;
  color: #404040;
  font-weight: bold;
}

.questionTd {
  width: 5%;
}

.imgTd {
  width: 5%;
}

.cardTd {
  width: 10%;
  margin-left: 10px;
}

#answerTable
  {
  font-family: Calibri, Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-left:5px;
  margin-bottom: 5px;
  width: 90%;
  border-collapse: collapse;
  text-align: left;
}

#answerTable td
  {
  font-size: 13px;
  font-color: #404040;
  color: #404040;
  padding: 4px 8px;
}

#answerTable th
  {
  font-family: Calibri, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #404040;
  padding: 2px 8px;
  border-bottom: 2px solid #aaaaaa;
}
