
.headerDiv {
  width: 95%;
  border-bottom: 2px solid #aaaaaa;
  margin-bottom: 10px;
  font-family: Calibri, Arial, Helvetica, sans-serif;
}

.introDiv {
  font-family: Calibri, Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-bottom: 10px;
}

.headerImg {
  vertical-align:text-bottom;
  margin:0;
  padding:0;
}

.leftPanel {
  float: left;
  width:55%;
}

.rightPanel {
  float: right;
  width:40%;
  margin-left:10px;
}

.helpDiv {
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
  font-size: 13px;
  padding: 15px;
  width: 50%;
  height: 700px;
  overflow: auto;
  margin-left:auto;
  margin-right:auto;
  background-color: #F7FBFA;
  border-radius: 15px;
}

h1 {
  color: #111;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 8px 0;
}

.helpImg {
 margin: 0;
 padding: 0;
 vertical-align:text-bottom;
}

h2 {
  color: #666;
  font-size: 20px;
  font-weight: normal;
  margin: 8px 0 5px 0;
}

h3 {
  border-bottom: 1px solid #e5e5e5;
  color: #666;
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 12px 0;
  padding: 0 0 4px 0;
}

h4 {
  color: #666;
  font-size: 14px;
  margin: 6px 0 4px 0;
}