
.headerDiv {
  width: 95%;
  border-bottom: 2px solid #aaaaaa;
  margin-bottom: 10px;
  font-family: Calibri, Arial, Helvetica, sans-serif;
}

.introDiv {
  font-family: Calibri, Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-bottom: 10px;
}

.headerImg {
  vertical-align:text-bottom;
  margin:0;
  padding:0;
}

.leftPanel {
  float: left;
  width:55%;
}

.rightPanel {
  float: right;
  width:40%;
  margin-left:10px;
}

.helpDiv {
  font-family: Calibri, Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin: 0, 10px, 0 10px;
  padding: 0, 10px, 0 10px;
  width: 80%;
}

h1 {
  font-family: Calibri, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 5px, 0, 5px, 0;
}

h2 {
  font-family: Calibri, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin: 2px, 0, 2px, 0;
}

.helpImg {
 margin: 0;
 padding: 0;
 vertical-align:text-bottom;
}