<link rel="stylesheet" href="qunit.css" />
<script src="qunit.js"></script>

<script>

  test("create iframe", function() {
    notEqual(createIFrame(), null);
  });
</script>

<div id="qunit"></div>
